/* FONT TYPES */

@font-face {
    font-family: Almoni;
    font-weight: none;
    src: url("../fonts/almoni-dl-aaa-light.otf") format("opentype");
}
@font-face {
    font-family:AlmoniBold;
    font-weight:none;
    src: url("../fonts/almoni-dl-aaa-bold.otf");
}

/* GLOBAL */
*{margin:0;padding:0;}
body{direction:rtl;font-family:AlmoniBold, Arial sans-serif !important;font-size:17px !important;background-color:#f4f4f4 !important;line-height:1.6em !important;}
h1,h2,h3,h4,h5,h6{color:#1E90FF !important; font-family:AlmoniBold, Arial, sans-serif !important;text-align:center;}
ul{}
li{font-size:17px;}
a{color:#fff !important;}
a:hover{color:#FAAFBA !important;background-color:#fff;}
div.clr{clear:both;}
@keyframes mymove {
    0%   {top: 0px;}
    50%  {top: 20px;}
    100%  {top: 0px;}
}




/* HEADER */
#main-header {color:#fff !important;background-color:#FAAFBA !important;margin:0;padding:0;}
#main-header ul{text-align:center;list-style-type:none;}
#main-header li{display:inline;padding:20px;}
#main-header .social-wrapper{padding:0.5rem;display:inline-block;}
#main-header .social-facebook:hover > a{background-color:#FAAFBA !important;color:#fff !important;}
#main-header .social-facebook:hover > i{color:blue !important;}
#main-header .social-insta:hover > a{background-color:#FAAFBA !important;color:#fff !important;}
#main-header .social-insta:hover > i{color:coral;}
#logo{;}
/* MAIN */
section.video{;}
#pomvideo{padding:0;position:relative !important;}
#section-a{background-color:#f9f9f9;padding:0;}
#section-a .showcase-wrapper{min-height:50%;background:url('/img/cover.jpg');background-attachment:fixed;background-repeat:no-repeat;background-size:cover;margin:0;background-position:center;}
#section-a .showcase {width:100%;height:50%;padding:20px;margin:0 auto;padding-top:25px;padding-top:65px;background-color:rgba(0,0,0,0.2) !important;}
#section-a .showcase h1,p{text-align:center;width:100%;margin:0;padding:5px;color:#f4f4f4 !important;}
#section-a .showcase h1{font-size:2rem;}
#section-a .showcase p{font-size:1.2rem;width:45%;margin:0 auto;}
#section-a .showcase .showcase-btn{text-align:center;padding-top:1rem;color:#f4f4f4;}
i#arrow{position:relative;animation-name:mymove;animation-play-state:running;animation-duration:3s;animation-iteration-count: 500}

#section-b{background-color:#f9f9f9;text-align:center;direction:rtl;list-style-type: none !important;}
#section-b .form{width:100%;margin:0;direction:rtl !important;}
#section-b .form .field{display:inline-block;padding:0;}
#section-b .form .field input{text-align:center;}
#section-b .form .field .ui.input{width:200px;}
.ui.error.message ul.list{list-style-type:none !important;text-align:center !important;}
li:before{display:none;}
.ui.success.message{display:inline;}

/* FOOTER */
footer{background-color:#FAAFBA;height:150px;text-align:center;}
footer .wrapper{padding-top:4.5rem;}

